#include "../project.h"

#define ICON_APP   100
#define ICON_EMPTY 101
#define ICON_FULL  102

#ifdef RC_INVOKED
	#include <windows.h>

	ICON_APP   ICON "icons/app.ico"
	ICON_EMPTY ICON "icons/empty.ico"
	ICON_FULL  ICON "icons/full.ico"

	VS_VERSION_INFO VERSIONINFO
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_APP
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "000004B0"
			BEGIN
				VALUE "FileDescription", PROG_NAME
				VALUE "ProductName", PROG_NAME
				VALUE "ProductVersion", PROG_VERSION
				VALUE "LegalCopyright", PROG_LEGAL
			END
		END

		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0000, 1200
		END
	END

	CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"
#endif
