#define R_ICON_APP   100
#define R_ICON_EMPTY 101
#define R_ICON_FULL  102

#ifdef RC_INVOKED
    #include <windows.h>

    R_ICON_APP   ICON "app.ico"
    R_ICON_EMPTY ICON "empty.ico"
    R_ICON_FULL  ICON "full.ico"

    VS_VERSION_INFO VERSIONINFO
    FILEOS VOS_NT_WINDOWS32
    FILETYPE VFT_APP
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "000004B0"
            BEGIN
                VALUE "FileDescription", R_NAME
                VALUE "ProductName", R_NAME
                VALUE "ProductVersion", R_VERSION
                VALUE "LegalCopyright", "Public Domain (Mostly)"
            END
        END

        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x0000, 1200
        END
    END

    CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"
#endif
